<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surprising.wallet.service.dao.AddressRepository">
  <!-- CodeBuilder Generated -->
  <resultMap id="AddressMap" type="com.surprising.wallet.common.pojo.Address">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="network" property="network" jdbcType="VARCHAR" />
    <result column="script_type" property="scriptType" jdbcType="VARCHAR" />
    <result column="redeem_script" property="redeemScript" jdbcType="VARCHAR" />
    <result column="witness_script" property="witnessScript" jdbcType="VARCHAR" />
    <result column="derivation_path" property="derivationPath" jdbcType="VARCHAR" />
    <result column="public_keys" property="publicKeys" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="NUMERIC" />
    <result column="biz" property="biz" jdbcType="INTEGER" />
    <result column="nonce" property="nonce" jdbcType="INTEGER" />
    <result column="index" property="index" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Table_Name">
    ${shardTable.prefix}_address
  </sql>
  <sql id="Base_Column_List_Without_Id">
    user_id, address, network, script_type, redeem_script, witness_script, derivation_path, public_keys,
    balance, biz, nonce, index, status, create_date, update_date
  </sql>
  <sql id="Base_Column_List">
    id, 
    <include refid="Base_Column_List_Without_Id" />
  </sql>
  <sql id="Insert_Columns">
    <if test="record.userId != null">
      user_id,
    </if>
    <if test="record.address != null">
      address,
    </if>
    <if test="record.network != null">
      network,
    </if>
    <if test="record.scriptType != null">
      script_type,
    </if>
    <if test="record.redeemScript != null">
      redeem_script,
    </if>
    <if test="record.witnessScript != null">
      witness_script,
    </if>
    <if test="record.derivationPath != null">
      derivation_path,
    </if>
    <if test="record.publicKeys != null">
      public_keys,
    </if>
    <if test="record.balance != null">
      balance,
    </if>
    <if test="record.biz != null">
      biz,
    </if>
    <if test="record.nonce != null">
      nonce,
    </if>
    <if test="record.index != null">
      index,
    </if>
    <if test="record.status != null">
      status,
    </if>
    <if test="record.createDate != null">
      create_date,
    </if>
    <if test="record.updateDate != null">
      update_date,
    </if>
  </sql>
  <sql id="Insert_Values">
    <if test="record.userId != null">
      #{record.userId,jdbcType=BIGINT},
    </if>
    <if test="record.address != null">
      #{record.address,jdbcType=VARCHAR},
    </if>
    <if test="record.network != null">
      #{record.network,jdbcType=VARCHAR},
    </if>
    <if test="record.scriptType != null">
      #{record.scriptType,jdbcType=VARCHAR},
    </if>
    <if test="record.redeemScript != null">
      #{record.redeemScript,jdbcType=VARCHAR},
    </if>
    <if test="record.witnessScript != null">
      #{record.witnessScript,jdbcType=VARCHAR},
    </if>
    <if test="record.derivationPath != null">
      #{record.derivationPath,jdbcType=VARCHAR},
    </if>
    <if test="record.publicKeys != null">
      #{record.publicKeys,jdbcType=VARCHAR},
    </if>
    <if test="record.balance != null">
      #{record.balance,jdbcType=NUMERIC},
    </if>
    <if test="record.biz != null">
      #{record.biz,jdbcType=INTEGER},
    </if>
    <if test="record.nonce != null">
      #{record.nonce,jdbcType=INTEGER},
    </if>
    <if test="record.index != null">
      #{record.index,jdbcType=INTEGER},
    </if>
    <if test="record.status != null">
      #{record.status,jdbcType=SMALLINT},
    </if>
    <if test="record.createDate != null">
      #{record.createDate,jdbcType=TIMESTAMP},
    </if>
    <if test="record.updateDate != null">
      #{record.updateDate,jdbcType=TIMESTAMP},
    </if>
  </sql>
  <sql id="Batch_Insert_Values">
    #{record.userId,jdbcType=BIGINT},
    #{record.address,jdbcType=VARCHAR},
    #{record.network,jdbcType=VARCHAR},
    #{record.scriptType,jdbcType=VARCHAR},
    #{record.redeemScript,jdbcType=VARCHAR},
    #{record.witnessScript,jdbcType=VARCHAR},
    #{record.derivationPath,jdbcType=VARCHAR},
    #{record.publicKeys,jdbcType=VARCHAR},
    #{record.balance,jdbcType=NUMERIC},
    #{record.biz,jdbcType=INTEGER},
    #{record.nonce,jdbcType=INTEGER},
    #{record.index,jdbcType=INTEGER},
    #{record.status,jdbcType=SMALLINT},
    #{record.createDate,jdbcType=TIMESTAMP},
    #{record.updateDate,jdbcType=TIMESTAMP},
  </sql>
  <sql id="Batch_Insert_Values_On_DuplicateKey">
    #{record.id,jdbcType=BIGINT},
    <include refid="Batch_Insert_Values" />
  </sql>
  <sql id="Update_Set_From_Bean">
    <if test="record.userId != null">
      user_id = #{record.userId,jdbcType=BIGINT},
    </if>
    <if test="record.address != null">
      address = #{record.address,jdbcType=VARCHAR},
    </if>
    <if test="record.network != null">
      network = #{record.network,jdbcType=VARCHAR},
    </if>
    <if test="record.scriptType != null">
      script_type = #{record.scriptType,jdbcType=VARCHAR},
    </if>
    <if test="record.redeemScript != null">
      redeem_script = #{record.redeemScript,jdbcType=VARCHAR},
    </if>
    <if test="record.witnessScript != null">
      witness_script = #{record.witnessScript,jdbcType=VARCHAR},
    </if>
    <if test="record.derivationPath != null">
      derivation_path = #{record.derivationPath,jdbcType=VARCHAR},
    </if>
    <if test="record.publicKeys != null">
      public_keys = #{record.publicKeys,jdbcType=VARCHAR},
    </if>
    <if test="record.balance != null">
      balance = #{record.balance,jdbcType=NUMERIC},
    </if>
    <if test="record.biz != null">
      biz = #{record.biz,jdbcType=INTEGER},
    </if>
    <if test="record.nonce != null">
      nonce = #{record.nonce,jdbcType=INTEGER},
    </if>
    <if test="record.index != null">
      index = #{record.index,jdbcType=INTEGER},
    </if>
    <if test="record.status != null">
      status = #{record.status,jdbcType=SMALLINT},
    </if>
    <if test="record.createDate != null">
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
    </if>
    <if test="record.updateDate != null">
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
    </if>
  </sql>
  <!-- insert -->
  <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="record.id" keyColumn="id">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Columns" />
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Insert_Values" />
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List_Without_Id" />
    </trim>
    values 
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values" />
      </trim>
    </foreach>
  </insert>
  <insert id="batchInsertOnDuplicateKey" parameterType="java.util.Map">
    insert into 
    <include refid="Table_Name" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values 
    <foreach collection="records" item="record" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Batch_Insert_Values_On_DuplicateKey" />
      </trim>
    </foreach>
    ON CONFLICT (
    id
    ) DO UPDATE SET
    user_id = EXCLUDED.user_id, address = EXCLUDED.address, network = EXCLUDED.network, script_type = EXCLUDED.script_type, redeem_script = EXCLUDED.redeem_script, witness_script = EXCLUDED.witness_script, derivation_path = EXCLUDED.derivation_path, public_keys = EXCLUDED.public_keys, balance = EXCLUDED.balance, biz = EXCLUDED.biz, nonce = EXCLUDED.nonce, index = EXCLUDED.index, status = EXCLUDED.status, create_date = EXCLUDED.create_date, update_date = EXCLUDED.update_date
  </insert>
  <!-- end insert -->
  <!-- delete -->
  <delete id="deleteById" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteIn" parameterType="java.util.Map">
    delete from 
    <include refid="Table_Name" />
    where id in 
    <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
      #{record.id,jdbcType=BIGINT}
    </foreach>
  </delete>
  <!-- end delete -->
  <!-- update -->
  <update id="updateById" parameterType="java.util.Map">
    update 
    <include refid="Table_Name" />
    <set>
      <include refid="Update_Set_From_Bean" />
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByExample" parameterType="java.util.Map">
    update 
    <include refid="Table_Name" />
    <set>
      <include refid="Update_Set_From_Bean" />
    </set>
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="batchUpdate" parameterType="java.util.Map">
    <foreach collection="records" item="record" index="index" open="" close="" separator=";">
      update 
      <include refid="Table_Name" />
      <set>
        <include refid="Update_Set_From_Bean" />
      </set>
      where id = #{record.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <!-- end update -->
  <!-- select -->
  <select id="selectById" parameterType="java.util.Map" resultMap="AddressMap">
    select 
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" resultMap="AddressMap" parameterType="java.util.Map">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectOneByExample" resultMap="AddressMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1 FOR UPDATE
  </select>
  <select id="selectIn" resultMap="AddressMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    where id in 
    <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
      #{record.id,jdbcType=BIGINT}
    </foreach>
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) as total from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByPager" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) as total from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPager" resultMap="AddressMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from 
    <include refid="Table_Name" />
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="pager.sortItem != null and pager.sortItem != ''">
      order by ${pager.sortItem} ${pager.sortType}
    </if>
    limit #{pager.pageSize} offset #{pager.startIndex}
  </select>
  <!-- end select -->
  <!-- My Custom Interfaces -->
  <select id="getTotalBalance" resultType="java.math.BigDecimal" parameterType="java.util.Map">
    select
    SUM(balance)
    from ${shardTable.prefix}_address
    <if test="example != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
</mapper>
